
{% extends 'client_dashboard/client_layout.html' %}
{% load static %}
{% block content %}
<style>
    .label-info {
    background-color: #58D68D ;
    color: #fff;
    /* Add any other styles as needed */
}

.label-success {
    background-color: #27AE60 ;
    color: #fff;
    /* Add any other styles as needed */
}
    </style>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
             
            </div>
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Transaction Details</h1>
                       
                        <!-- <div class="row">
                            
                            
                        </div> -->
                        <div class="row">
                            <div class="col-xl-9">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-book-open"></i>
                                         
                                         Transaction Details
                                         <a href="{% url 'client_payment' %}" class="btn btn-info btn-danger" style="margin-left: 500px;width: 200px; height: 40;">Add New Payment</a>
                                         
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                        <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                                            <thead>
                                                <tr>
                                                  <th>SL.NO</th> 
                                                    <th>DATE</th>  
                                                    <th>AMOUNT</th> 
                                                    <th>REMARKS</th> 
                                                      

                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for tr in transactions %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{tr.trans_date|date:"d-m-Y"}}
                                                    </td>
                                                    <td>{{tr.amount}}</td>
                                                    <td>{{tr.remarks}}</td>
                                                    
                                                    
                                              
                                               {% endfor %} 
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </main>
                
            </div>
        </div>
          {% endblock %}