{% load static %}
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Legal Adviser a Society and People Category Bootstrap responsive Website Template | Home :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Legal Adviser Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- bootstrap-css -->
	<link href="{% static 'home/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--// bootstrap-css -->
	<!-- css -->
	<link rel="stylesheet" href="{% static 'home/css/style.css' %}" type="text/css" media="all" />
	<!--// css -->
	<!-- font-awesome icons -->
	<link href="{% static 'home/css/font-awesome.css' %}" rel="stylesheet">
	<!-- //font-awesome icons -->
	<!-- font -->
	<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<!-- //font -->
</head>


<body>
	<!-- banner -->
	<div class="banner" id="home">
		<!-- agileinfo-dot -->
		<div class="agileinfo-dot">
			<div class="head">
				<div class="navbar-top">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>
						<div class="navbar-brand logo ">
							<h1><a href="index.html"> Legal Adviser <i class="fa fa-balance-scale" aria-hidden="true"></i></a></h1>
						</div>

					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav link-effect-4">
							<li class="active"><a href="{% url 'home' %}" data-hover="Home">Home</a> </li>
							<li><a href="{% url 'about' %}" class="active">About </a> </li>
							<li><a href="{% url 'enquiry' %}" class="active">Enquiry</a> </li>
							<li><a href="{% url 'ask_question' %}" class="active">Ask a question</a> </li>
							<li><a href="{% url 'contact' %}" class="active">Contact</a></li>
							<li><a href="{% url 'login' %}" class="active">Login</a></li>
							
							
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
			</div>
			<div class="w3layouts-banner-slider">
				<div class="container">
					<div class="slider">
						<div class="callbacks_container">
							<ul class="rslides callbacks callbacks1" id="slider4">
								<li>
									<div class="agileits-banner-info">
										<h3>International
											<div class="border"></div> <span>Law Firm</span></h3>
										
									</div>
								</li>
								<li>
									<div class="agileits-banner-info">
										<h3>Welcome
											<div class="border"></div> <span>to the Legal Adviser</span></h3>
										
									</div>
								</li>
								<li>
									<div class="agileits-banner-info">
										<h3>International
											<div class="border"></div> <span>Law Firm</span></h3>
										
									</div>
								</li>
							</ul>
						</div>
						<div class="clearfix"> </div>

					</div>
				</div>
			</div>
		</div>
		<!-- //agileinfo-dot -->
	</div>
	<!-- //banner -->
	<!-- modal -->
	<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"><i class="fa fa-tint" aria-hidden="true"></i>Oil <span>Production</span></h4>
				</div>
				
			</div>
		</div>
	</div>
	<!-- //modal -->
	<!-- about -->
	<div class="free_agile_consultation contact">
		<!-- <div class="col-md-6 free_agile_consultaion_img">


		</div> -->
		<!--  -->
		
		<div class="clearfix"> </div>
	</div>
	
	
	<!-- contact -->
	<div class="free_agile_consultation contact">
		
	</div>
	
	<!-- contact -->
	<div class="contact" id="contact">
		<div class="container">
			<div class="about-heading">
				<h3>Contact Us</h3>
				<p>You Are Always One Step Ahead</p>
			</div>
			<div class="w3l-about-grids">
				<div class="contact-info">
					<ul>
						<li><i class="fa fa-location-arrow" aria-hidden="true"></i>
							<h5>Address<span>Honey 4, 8305, San Francisco</span></h5>
						</li>
						<li><i class="fa fa-phone" aria-hidden="true"></i>
							<h5>Call Us<span>+1 (100)222-0-33</span></h5>
						</li>
						<li><i class="fa fa-envelope-o" aria-hidden="true"></i>
							<h5>Mail Us<span><a href="mailto:info@example.com">info@example.com</a></span></h5>
						</li>
					</ul>
				</div>
				<!--  -->
			</div>
		</div>
	</div>
	<!-- //contact -->
	<!-- map -->
	<div class="agileits-w3layouts-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100949.24429313939!2d-122.44206553967531!3d37.75102885910819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1472190196783"
		    class="map" allowfullscreen=""></iframe>
	</div>
	<!-- //map -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="agileinfo_footer_bottom">
				
				<div class="col-md-6 agileinfo_footer_bottom_grid">
					<h6>Follow Us</h6>
					<div class="w3l-social">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="agileinfo_footer_bottom1">

				<p>© 2023 Legal Support System. All rights reserved</p>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<!-- //footer -->
	<script src="{% static 'home/js/jquery-2.1.4.min.js' %}"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider3").responsiveSlides({
				auto: true,
				pager: false,
				nav: false,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<script src="{% static 'home/js/responsiveslides.min.js' %}"></script>
	<script src="{% static 'home/js/bars.js' %}"></script>
	<script src="{% static 'home/js/jarallax.js' %}"></script>
	<script src="{% static 'home/js/SmoothScroll.min.js' %}"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
	<script type="text/javascript" src="{% static 'home/js/easing.js' %}"></script>
	<script type="text/javascript" src="{% static 'home/js/move-top.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<script src="{% static 'home/js/bootstrap.js' %}"></script>
</body>

</html>