
{% extends 'admin/admin_layout.html' %}
{% load static %}
{% block content %}
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
             
            </div>
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Change password</h1>
                       
                        <!-- <div class="row">
                            
                            
                        </div> -->
                        <div class="row">
                            <div class="col-xl-9">
                                <div class="card mb-4">
                                    {% if messages %}
        {% for m in messages %}
        <div class="alert {{m.tags}}">
            <h5 class="">{{m}}</h5>
        </div>
        {% endfor %}
        {% endif %}
                                    <div class="card-header">
                                        <i class="fas fa-lock"></i>
                                        Change password
                                    </div>
                                    <div class="card-body">
                                       <form role="form" method="post" action="{% url 'update_pass' %}">
                                  {% csrf_token %}
                                <div class="form-group"> 
                                    <label for="exampleInputPassword1">Current Password</label> 
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Current Password" name="cpwd" required=""><br>
                                </div>
                                <div class="form-group"> 
                                    <label for="exampleInputPassword1">New Password</label> 
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New Password" name="npwd" required="" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*?&]{8,}$" title="Password must be at least 8 characters long and include at least one letter and one digit"><br>
                                     </div>
                                <div class="form-group">
                                 <label for="exampleInputPassword1">Confirm Password</label> 
                                 <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" name="copwd" required=""> <br>
                                </div>
                                
                               
                              
                              
                                <button type="submit" class="btn btn-success">Submit</button>
                                 <button type="reset" class="btn btn-danger">Cancel</button>
                            </form>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </main>
                
            </div>
        </div>
          {% endblock %}