
{% extends 'admin/admin_layout.html' %}
{% load static %}
{% block content %}
<style>
    .label-info {
    background-color: #58D68D ;
    color: #fff;
    /* Add any other styles as needed */
}

.label-success {
    background-color: #27AE60 ;
    color: #fff;
    /* Add any other styles as needed */
}
    </style>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
             
            </div>
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Case History List</h1>
                       
                        <!-- <div class="row">
                            
                            
                        </div> -->
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-book-open"></i>
                                         Case History-(Case Number:{{cno}})
                                         <a href="{% url 'show_case_details' clientid %}" class="btn btn-info btn-sm" style="margin-left: 900px;width: 50px; height: 40;">Back</a>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                        <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                                            <thead>
                                                <tr>
                                                  <th>SL.NO</th> 
                                                    <th>TITLE</th>  
                                                    <th>DESCRIPTION</th> 
                                                      
                                                    <th>UPLOADED DATE</th> 
                                                    
                                                    

                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for hist in hist_list %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{hist.title}}</td>
                                                    <td>{{hist.description}}</td>
                                                    
                                                    <td>{{hist.date|date:"d-m-Y"}}</td>
                                                    
                                                    

                                               {% endfor %} 
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </main>
                
            </div>
        </div>
          {% endblock %}