
{% extends 'advocate_dashboard/adv_layout.html' %}
{% load static %}
{% block content %}
<style>
    .label-info {
    background-color: #58D68D ;
    color: #fff;
    /* Add any other styles as needed */
}

.label-success {
    background-color: #27AE60 ;
    color: #fff;
    /* Add any other styles as needed */
}
    </style>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
             
            </div>
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Message Panel</h1>
                       
                        <!-- <div class="row">
                            
                            
                        </div> -->
                        <div class="row">
                            <div class="col-xl-9">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-book-open"></i>
                                         Questions List
                                         
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                        <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                                            <thead>
                                                <tr>
                                                  <th>SL.NO</th> 
                                                    <th>Question</th>  
                                                    <th>POSTED DATE</th> 
                                                    
                                                      <th>ACTIONS</th> 

                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for msg in msg_list %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{msg.message}}</td>
                                                    <td>{{msg.post_date|date:"d-m-Y"}}</td>
                                                    
                                                    
                                                   
                                                    <td> <a href="{% url 'message_rply' msg.message_id%}" class="btn btn-info btn-sm" style="width: 100px;font-size: 12px;">ADD ANSWER</a>
                                                        
                                                </tr>
                                               {% endfor %} 
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </main>
                
            </div>
        </div>
          {% endblock %}